<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/data_table}">
<head>
    <meta charset="utf-8">
    <title>buses</title>
</head>
<body style="padding-top: 50px">
    <div layout:fragment="data_table_content">
        <tr th:each="bus,iter : ${pageData.getItems()}">
            <td th:text="${iter.count}"></td>
            <td>
                <img th:src="@{${bus.getImageUrl()}}" width="70" height="50"/>
            </td>
            <td th:text="${bus.getName()}"></td>
            <td th:text="${bus.getSeats()}"></td>
            <td th:text="${bus.getTripCount()}"></td>
            <td>
                <a th:href="@{'/buses/details/' + ${bus.getId()}}" type="button"
                   class="btn btn-primary">details</a>
            </td>
            <td>
                <a th:href="@{'/buses/delete/' + ${bus.getId()}}" type="button" class="btn btn-danger">delete</a>
            </td>
        </tr>
    </div>
</body>
</html>
