<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout_new}">
<head>
    <title>Confirm Booking</title>
</head>
<body>
<div layout:fragment="content">
    <div class="container bg-white mt-3 px-5 py-5">
        <!-- Trip Confirmation Card -->
        <div class="card mb-3">
            <div class="card-header">Booking Detail</div>
            <div class="card-body">
                <p><strong>Departure:</strong> <span th:text="${booking.trip.route.departureTown.name}"></span>, <span
                        th:text="${#temporals.format(booking.trip.departure, 'dd.MM.yyyy HH:mm')}"></span></p>
                <p><strong>Arrival:</strong> <span th:text="${booking.trip.route.arrivalTown.name}"></span>, <span
                        th:text="${#temporals.format(booking.trip.arrival, 'dd.MM.yyyy HH:mm')}"></span></p>
                <p><strong>Bus:</strong> <span th:text="${booking.trip.bus.name}"></span></p>
                <hr>
                <p><strong>Total Price:</strong> <span th:text="${booking.totalPrice}"></span> UAH</p>
                <p><strong>Adults:</strong> <span th:text="${booking.adults}"></span></p>
                <p><strong>Children:</strong> <span th:text="${booking.children}"></span></p>
                <hr>
                <!-- Contact Information -->
                <p><strong>Email:</strong> <span th:text="${booking.email}"></span></p>
                <p><strong>Phone Number:</strong> <span th:text="${booking.phoneNumber}"></span></p>
                <!-- Passenger Details -->
                <div th:each="passenger, iterStat : ${booking.passengers}">
                    <p><strong>Passenger [[${iterStat.index + 1}]]:</strong> <span
                            th:text="${passenger.firstName + ' ' + passenger.lastName}"></span></p>
                </div>
            </div>
        </div>

        <!-- Action Buttons -->
        <div th:if="${showCancel}" class="d-flex justify-content-center gap-2">
            <form th:action="@{'/open/booking/cancel/' + ${booking.id}}" method="post">
                <button type="submit" class="btn btn-danger">Cancel Booking</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>