<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout_new}">
<head>
    <meta charset="UTF-8">
    <link href="/css/tickets.css" rel="stylesheet">
    <title>Select ticket</title>
</head>
<body>

<div layout:fragment="content">

    <!--    SEARCH-->
    <div class="container rounded shadow-sm mt-100">
        <form th:action="@{/open/tickets}" th:object="${search}" method="post">
            <div class="row">
                <div class="col-md-6 col-12 mb-4">
                    <div class="form-control d-flex flex-column">
                        <p class="h-blue">FROM</p>
                        <select th:field="*{departureTownId}" class="inputbox" id="departure">
                            <option th:each="town : ${towns}"
                                    th:value="${town.id}"
                                    th:text="${town.name}">
                            </option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6 col-12 mb-4">
                    <div class="form-control d-flex flex-column">
                        <p class="h-blue">TO</p>
                        <select th:field="*{arrivalTownId}" class="inputbox" id="arrival">
                            <option th:each="town : ${towns}"
                                    th:value="${town.id}"
                                    th:text="${town.name}">
                            </option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-12 mb-4">
                    <div class="form-control d-flex flex-column">
                        <p class="h-blue">DEPARTING</p>
                        <input th:field="*{departureDate}" class="inputbox textmuted" type="date">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-4">
                    <div class="form-control d-flex flex-column">
                        <p class="h-blue">ADULTS</p>
                        <select th:field="*{adults}" class="border-0 outline-none">
                            <option th:value="1" selected>1</option>
                            <option th:value="2">2</option>
                            <option th:value="3">3</option>
                            <option th:value="4">4</option>
                            <option th:value="5">5</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6 mb-4">
                    <div class="form-control d-flex flex-column">
                        <p class="h-blue">CHILDREN(0-14)</p>
                        <select th:field="*{children}" class="border-0 outline-none">
                            <option th:value="0" selected>0</option>
                            <option th:value="1">1</option>
                            <option th:value="2">2</option>
                            <option th:value="3">3</option>
                            <option th:value="4">4</option>
                            <option th:value="5">5</option>
                        </select>
                    </div>
                </div>
            </div>
            <button class="btn btn-dark form-control text-center" type="submit">SEARCH</button>
        </form>
    </div>

    <!-- Results section -->
    <div class="container rounded shadow-sm mt-4">
        <div th:each="result : ${results}" class="card mb-3" style="width: 100%">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-3">
                        <h5 class="card-title fw-bold" th:text="${result.departureTown.name}">Departure</h5>
                        <p class="card-text" th:text="${result.getDepartureDateTimeFormatted()}"></p>
                        <small th:text="${result.bus.name}"></small>
                    </div>
                    <div class="col-md-3">
                        <p class="card-text" th:text="${result.getTripDurationFormatted()}"></p>
                    </div>
                    <div class="col-md-3">
                        <h5 class="card-title fw-bold" th:text="${result.arrivalTown.name}">Arrival</h5>
                        <p class="card-text" th:text="${result.getArrivalDateTimeFormatted()}"></p>
                        <small th:text="'Left places: ' + ${result.remainingPlaces}"></small>
                    </div>
                    <div class="col-md-3 d-flex flex-column justify-content-between">
                        <!-- Hidden Form -->
                        <form th:action="@{/open/booking}" method="post">
                            <input type="hidden" th:name="tripId" th:value="${result.tripId}"/>
                            <input type="hidden" th:name="adults" th:value="${search.adults}"/>
                            <input type="hidden" th:name="children" th:value="${search.children}"/>
                            <!-- Visible Button -->
                            <button type="submit" class="btn btn-dark btn-lg" th:text="${result.totalPrice} + ' UAH'">
                                Buy
                            </button>
                        </form>
                        <p th:text="${search.adults} + ' adults, ' + ${search.children} + ' children'"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>