<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/open_layout}">
<head>
    <title>New Booking</title>
</head>
<body>
<div layout:fragment="open_content">
    <div class="container bg-white mt-3 px-5 py-5">
        <!-- Trip Information Card -->
        <div class="card mb-4">
            <div class="card-header">
                Trip Information
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-3">
                        <h5 class="card-title fw-bold" th:text="${trip.departureTown.name}">Departure</h5>
                        <p class="card-text" th:text="${trip.getDepartureDateTimeFormatted()}"></p>
                        <small th:text="${trip.bus.name}"></small>
                    </div>
                    <div class="col-md-3">
                        <p class="card-text" th:text="${trip.getTripDurationFormatted()}"></p>
                    </div>
                    <div class="col-md-3">
                        <h5 class="card-title fw-bold" th:text="${trip.arrivalTown.name}">Arrival</h5>
                        <p class="card-text" th:text="${trip.getArrivalDateTimeFormatted()}"></p>
                    </div>
                    <div class="col-md-3">
                        <p><strong>Adults:</strong> <span th:text="${booking.adults}"></span></p>
                        <p><strong>Children:</strong> <span th:text="${booking.children}"></span></p>
                        <p><strong>Total Price:</strong> <span th:text="${trip.totalPrice}"></span> USD</p>
                    </div>
                </div>
            </div>
        </div>

        <form th:action="@{/open/booking/new}" th:object="${booking}" method="post">
            <!-- Hidden fields for tripId and totalPrice -->
            <input type="hidden" th:field="*{tripId}" />
            <input type="hidden" th:field="*{totalPrice}" />
            <input type="hidden" th:field="*{children}" />
            <input type="hidden" th:field="*{adults}" />

            <!-- Contact Information Card -->
            <div class="card mb-4">
                <div class="card-header">
                    Contact Information
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input type="email" id="email" th:field="*{email}" class="form-control" placeholder="Enter email" required>
                    </div>
                    <div class="form-group">
                        <label for="phoneNumber">Phone Number:</label>
                        <input type="text" id="phoneNumber" th:field="*{phoneNumber}" class="form-control" placeholder="Enter phone number" required>
                    </div>
                </div>
            </div>

            <!-- Passengers Information Card -->
            <div class="card mb-4">
                <div class="card-header">
                    Passengers Information
                </div>
                <div class="card-body">
                    <div th:each="passenger, iterStat : *{passengers}">
                        <div class="card mb-3">
                            <div class="card-header">
                                Passenger [[${iterStat.index + 1}]]
                            </div>
                            <div class="card-body">
                                <div class="form-group">
                                    <label th:for="${'firstName' + iterStat.index}">First Name:</label>
                                    <input type="text" th:id="${'firstName' + iterStat.index}" th:name="${'passengers[' + iterStat.index + '].firstName'}" class="form-control" placeholder="Enter first name" required>
                                </div>
                                <div class="form-group">
                                    <label th:for="${'lastName' + iterStat.index}">Last Name:</label>
                                    <input type="text" th:id="${'lastName' + iterStat.index}" th:name="${'passengers[' + iterStat.index + '].lastName'}" class="form-control" placeholder="Enter last name" required>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Submit Button -->
            <button type="submit" class="btn btn-dark btn-block">Next</button>
        </form>
    </div>
</div>
</body>
</html>
