<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/open_layout}">
<head>
    <meta charset="UTF-8">
    <title>Tickets</title>
    <link href="/css/tickets.css" rel="stylesheet">
</head>
<body>

<div layout:fragment="open_content">
    <div class="container mt-5 mb-5">
        <div class="d-flex justify-content-center row">
            <div class="col-md-16 border rounded">
                <h3 th:if="${trips.size()} == 0"> Nothing not found</h3>
                <div th:unless="${trips.size()} == 0" class="row" th:each="trip : ${trips}">
                    <div class="col-md-6 mt-1">
                        <h5 th:text="${trip.getRoute().getDepartureTown()} + '-' + ${trip.getRoute().getArrivalTown()}"></h5>
                        <div class="mt-1 mb-1 spec-1">
                            <table>
                                <tr>
                                    <td>
                                        <h6>Departure</h6>
                                        <p th:text="${#calendars.format(trip.getDeparture(), 'dd MMMM yyyy hh:mm a')}"></p>
                                    </td>
                                    <td>
                                        <h6>Arrival</h6>
                                        <p th:text="${#calendars.format(trip.getArrival(), 'dd MMMM yyyy hh:mm a')}"></p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <h6>Bus</h6>
                                        <p th:text="${trip.getBus().getName()}"></p>
                                    </td>
                                    <td>
                                        <h6>Left seats</h6>
                                        <p th:text="${trip.getLeftSeats()}" class="text-justify text-truncate para mb-0"><br><br>
                                        </p>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="align-items-center align-content-center col-md-3 border-left mt-1">
                            <div class="d-flex flex-row align-items-center">
                                <h5 class="mr-1" th:text="${trip.getFinalPrice()} +' UAH'"></h5>
                                <span th:if="${trip.getPromotion()} != null"
                                      th:text="${trip.getPromotion().getPercent()} + '% sale'"
                                      class="strike-text"></span>
                            </div>
                            <div class="d-flex flex-column mt-6">
                                <a class="btn btn-dark mb-1" type="button">Buy</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <a th:href="@{'/open/tickets'}" class="btn btn-dark form-control text-center mt-3" type="button">BACK</a>
    </div>
</div>
</body>
</html>