<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="utf-8">
    <title>Details Group</title>
</head>
<body>

<div layout:fragment="content">

    <div class="row">
        <div class="col-12">
            <div class="card mb-2 mt-2">
                <div class="card-header">
                    Details Group
                </div>
                <div class="card-body">
                    <table class="table table-hover">
                        <tr>
                            <th>id</th>
                            <td th:text="${group.getId()}"></td>
                        </tr>
                        <tr>
                            <th>group name</th>
                            <td th:text="${group.getGroupName()}"></td>
                        </tr>
                        <tr>
                            <th>teacher name</th>
                            <td th:text="${group.getTeacherName()}"></td>
                        </tr>
                        <tr>
                            <th>course</th>
                            <td th:text="${group.getCourse()}"></td>
                        </tr>
                        <tr>
                            <th>created</th>
                            <td th:text="${#calendars.format(group.getCreated(),'dd MMMM yyyy')}"></td>
                        </tr>
                        <tr>
                            <th>updated</th>
                            <td th:text="${#calendars.format(group.getUpdated(),'dd MMMM yyyy')}"></td>
                        </tr>
                    </table>
                    <hr>
                    <div>
                        <a th:href="@{'/groups/update/' + ${group.getId()}}" type="button" class="btn btn-primary">Update
                            Group</a>
                    </div>
                    <hr>
                    <div>
                        <a th:href="@{'/students/all/group/' + ${group.getId()}}" type="button" class="btn btn-primary">Show
                            all students</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

</body>
</html>