<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="utf-8">
    <title>Details Student</title>
</head>
<body>

<div layout:fragment="content">

    <div class="row">
        <div class="col-12">
            <div class="card mb-2 mt-2">
                <div class="card-header">
                    Details Student
                </div>
                <div class="card-body">
                    <table class="table table-hover">
                        <tr>
                            <th>id</th>
                            <td th:text="${student.getId()}"></td>
                        </tr>
                        <tr>
                            <th>firstname</th>
                            <td th:text="${student.getFirstName()}"></td>
                        </tr>
                        <tr>
                            <th>lastname</th>
                            <td th:text="${student.getLastName()}"></td>
                        </tr>
                        <tr>
                            <th>age</th>
                            <td th:text="${student.getAge()}"></td>
                        </tr>
                        <tr>
                            <th>phoneNumber</th>
                            <td th:text="${student.getPhoneNumber()}"></td>
                        </tr>
                        <tr>
                            <th>email</th>
                            <td th:text="${student.getEmail()}"></td>
                        </tr>
                        <tr>
                            <th>created</th>
                            <td th:text="${#calendars.format(student.getCreated(),'dd MMMM yyyy')}"></td>
                        </tr>
                        <tr>
                            <th>updated</th>
                            <td th:text="${#calendars.format(student.getUpdated(),'dd MMMM yyyy')}"></td>
                        </tr>
                    </table>
                    <hr>
                    <div>
                        <a th:href="@{'/students/update/' + ${student.getId()}}" type="button" class="btn btn-primary">Update
                            Student</a>
                    </div>
                    <hr>
                    <div>
                        <a th:href="@{'/groups/all/student/' + ${student.getId()}}" type="button"
                           class="btn btn-primary">Show all groups</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

</body>
</html>