<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Change password</title>
</head>
<body>

<div class="container">
    <div layout:fragment="content">

        <section class="vh-100">
            <div class="container py-5 h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col col-xl-8 ">
                        <div class="card " style="border-radius: 1rem;">
                            <div class="row g-0 d-flex justify-content-center align-items-center">
                                <div class="col-md-6 col-lg-7 d-flex align-items-center">
                                    <div class="card-body p-4 p-lg-5 text-black">
                                        <form method="POST" th:action="@{/edit/password}" th:object="${authForm}">
                                            <div class="d-flex align-items-center mb-3 pb-1">
                                                <img src="https://t4.ftcdn.net/jpg/03/01/82/47/360_F_301824765_o5VJVEp69miDvPJV5SPGSSGn8idWFbMu.jpg"
                                                     width="30%" height="30%" class="fas fa-cubes fa-2x me-3"
                                                     style="color: #ff6219;"/>
                                                <span class="h1 fw-bold mb-0">GoBus</span>
                                            </div>

                                            <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Change
                                                password</h5>

                                            <div class="form-outline mb-4">
                                                <input type="email" name="username" id="username" th:field="*{email}"
                                                       class="form-control form-control-lg"/>
                                                <label class="form-label" for="username">Email address</label>
                                            </div>

                                            <div class="form-outline mb-4">
                                                <input type="password" name="oldPassword" id="oldPassword" th:field="*{oldPassword}"
                                                       class="form-control form-control-lg"/>
                                                <label class="form-label" for="oldPassword">Old password</label>
                                            </div>

                                            <div class="form-outline mb-4">
                                                <input type="password" name="newPassword" id="newPassword" th:field="*{password}"
                                                       class="form-control form-control-lg"/>
                                                <label class="form-label" for="newPassword">New Password</label>
                                            </div>

                                            <div class="form-outline mb-4">
                                                <input type="password" name="confirmPassword" id="confirmPassword" th:field="*{passwordConfirm}"
                                                       class="form-control form-control-lg"/>
                                                <label class="form-label" for="confirmPassword">Confirm Password</label>
                                            </div>

                                            <div class="pt-1 mb-4">
                                                <button class="btn btn-dark btn-lg btn-block" type="submit">Submit
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

</body>
</html>