<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/data_table}">
<head>
    <meta charset="utf-8">
    <title>Trips</title>
</head>
<body>
    <div layout:fragment="data_table_content">
        <tr th:each="trip,iter : ${pageData.getItems()}">
            <td th:text="${iter.count}"></td>
            <td th:text="${trip.bus.name}"></td>
            <td th:text="${trip.route.departureTown.name} + '-' + ${trip.route.arrivalTown.name}"></td>
            <td th:text="${#temporals.format(trip.departure, 'dd MMMM yyyy hh:mm')}"></td>
            <td th:text="${#temporals.format(trip.arrival,'dd MMMM yyyy hh:mm')}"></td>
            <td th:text="${trip.getStatus()}"></td>
            <td th:text="${trip.price}"></td>
            <td th:text="${trip.usedSeats} + '/' + ${trip.bus.seats}"></td>
            <td>
                <a th:href="@{'/admin/trips/details/' + ${trip.id}}" type="button"
                   class="btn btn-primary">details</a>
            </td>
            <td>
                <a th:href="@{'/admin/trips/statistics/' + ${trip.id}}" type="button" class="btn btn-dark">statistics</a>
            </td>
            <td>
                <a th:href="@{'/admin/trips/delete/' + ${trip.id}}" type="button" class="btn btn-danger">delete</a>
            </td>
        </tr>
    </div>
</body>
</html>
