<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/data_table}">
<head>
    <meta charset="utf-8">
    <title>groups</title>
</head>
<body>
    <div layout:fragment="data_table_content">
        <tr th:each="route,iter : ${pageData.getItems()}">
            <td th:text="${iter.count}"></td>
            <td>
                <img th:src="@{${route.imagePath}}"  width="70" height="50" alt="route_img"/>
            </td>
            <td th:text="${route.departureTown.name}"></td>
            <td th:text="${route.arrivalTown.name}"></td>
            <td>
                <a th:href="@{'/admin/routes/details/' + ${route.getId()}}" type="button"
                   class="btn btn-primary">details</a>
            </td>
            <td>
                <a th:href="@{'/admin/routes/delete/' + ${route.getId()}}" type="button" class="btn btn-danger">delete</a>
            </td>
        </tr>
    </div>
</body>
</html>
