<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout_new}">
<head>
    <meta charset="utf-8">
    <link href="/css/bus_details.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />
    <title>Details Bus</title>
</head>
<body>

<div layout:fragment="content">

    <div class="container mt-5">
        <div class="row">
            <div class="col-md-5">
                <div class="project-info-box mt-0">
                    <h5 th:text="${route.departureTown.name} + ' ' + ${route.arrivalTown.name}"></h5>
                </div>

                <div class="project-info-box">
                    <b>Created:</b><p th:text="${#calendars.format(route.getCreated(),'dd MMMM yyyy hh:mm a')}"></p>
                    <b>Updated:</b><p th:text="${#calendars.format(route.getUpdated(),'dd MMMM yyyy hh:mm a')}"></p>
                    <b>Description:</b><p th:text="${route.description}"></p>
                    <b>Departure Town:</b><p th:text="${route.getDepartureTown().name}"></p>
                    <b>Arrival Town:</b><p th:text="${route.getArrivalTown().name}"></p>
                    <div class="btn-toolbar mb-0">
                        <div class="item">
                            <a th:href="@{'/admin/routes/update/' + ${route.getId()}}" type="button"
                               class="btn btn-dark mr-3">Update route</a>
                        </div>
                        <div class="item" style="margin-left: 3px">
                            <a th:href="@{'/trips/all/route/' + ${route.getId()}}" type="button"
                               class="btn btn-dark mr-3">Show trips</a>
                        </div>
                    </div>
                </div><!-- / project-info-box -->
            </div><!-- / column -->

            <div class="col-md-7">
                <img th:src="${route.imagePath}" height="500px" alt="project-image" class="project-image rounded">
            </div><!-- / column -->
        </div>
    </div>
</div>
</div>
</body>
</html>