<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout_new}">
<head>
    <meta charset="utf-8">
    <title>Update company</title>
</head>
<body>

<div layout:fragment="content">

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4>Update bus</h4>
                </div>
                <div class="card-body">
                    <form action="#" th:action="@{'/admin/routes/update/' + ${routeId}}" th:object="${route}"
                          method="post" enctype="multipart/form-data">
                        <div th:if="${route.imagePath}">
                            <img th:src="@{${route.imagePath}}" alt="Current Route Image"
                                 style="max-width: 200px; max-height: 200px;">
                            <p>Current Image: <span th:text="${route.imagePath}"></span></p>
                        </div>
                        <div class="form-group">
                            <label for="image">New Route Image:</label>

                            <input type="file" id="image" name="image" class="form-control">
                            <small class="form-text text-muted">Leave blank if you do not wish to change the image.</small>
                        </div>
                        <div class="form-group" style="margin-top: 10px">
                            <label for="departure">Select departure town</label>
                            <select class="form-control" id="departure" th:field="*{departureTownId}">
                                <option th:each="town : ${towns}"
                                        th:value="${town.id}"
                                        th:text="${town.name}">
                                </option>
                            </select>
                        </div>
                        <div class="form-group" style="margin-top: 10px">
                            <label for="arrival">Select arrival town</label>
                            <select class="form-control" id="arrival" th:field="*{arrivalTownId}">
                                <option th:each="town : ${towns}"
                                        th:value="${town.id}"
                                        th:text="${town.name}">
                                </option>
                            </select>
                        </div>
                        <div class="form-group" style="margin-top: 10px">
                            <label for="description">Input Route Description</label>
                            <textarea class="form-control" id="description" th:field="*{description}"
                                      placeholder="Enter the route description here..."
                                      rows="5" style="resize: vertical;">
                            </textarea>
                        </div>
                        <button type="submit" class="btn btn-dark mt-3">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>

</body>
</html>