<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorate="~{layout}">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<div class="container-fluid">
  <div layout:fragment="content">
    <div sec:authorize="isAuthenticated()">
      <form id="logoutForm" method="POST" th:action="@{/logout}">
        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
      </form>
      <div sec:authorize="hasRole('ADMIN')">
        <nav class="navbar navbar-dark bg-dark fixed-top ">
          <a class="nav-item nav-link" th:href="@{/clients}">Users</a>
          <a class="nav-item nav-link" th:href="@{/orders}">Orders</a>
          <a class="nav-item nav-link" th:href="@{/trips}">Trips</a>
          <a class="nav-item nav-link" th:href="@{/promotions}">Promotions</a>
          <a class="nav-item nav-link" th:href="@{/routes}">Routs</a>
          <a class="nav-item nav-link" th:href="@{/buses}">Buses</a>
          <a class="nav-item nav-link" onclick="document.forms['logoutForm'].submit()" style="cursor: pointer !important;">Logout</a>
        </nav>
      </div>

      <div sec:authorize="hasRole('CLIENT')">
        <nav class="navbar navbar-dark bg-dark fixed-top ">
          <a class="nav-item nav-link" th:href="@{/client/profile}">Profile</a>
          <a class="nav-item nav-link" th:href="@{/client/tickets}">Tickets</a>
          <a class="nav-item nav-link" th:href="@{/client/promotions}">Promotions</a>
          <a class="nav-item nav-link" th:href="@{/client/orders}">Orders</a>
          <a class="nav-item nav-link" onclick="document.forms['logoutForm'].submit()" style="cursor: pointer !important;">Logout</a>
        </nav>
      </div>

      <div class="row" th:if="${showMessage}">
        <div class="col">
          <div th:if="${message}" class="alert alert-primary alert-dismissible fade show" role="alert">
            <span th:text="${message}">message text</span>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div th:if="${errorMessage}" class="alert alert-danger alert-dismissible fade show" role="alert">
            <span th:text="${errorMessage}">message text</span>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div th:if="${warnMessage}" class="alert alert-dark alert-dismissible fade show" role="alert">
            <span th:text="${warnMessage}">message text</span>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        </div>
      </div>
      <section layout:fragment="auth_content"></section>
    </div>
  </div>
</div>
</body>
</html>